<!doctype html>
<html lang="en">
{%load static%}
  <head>
  	<title>Library Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'myapp/dashboard/css/style.css' %}">
        <style>
        .hello-msg {
            font-size: 10px;
            color: black;
            margin-right: 20px;
        }
    </style>
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="p-4 pt-5">
		  		<h1><a href="{% url 'admindata:admin_dash' %}" class="logo">LMS</a></h1>
	        <ul class="list-unstyled components mb-5">
	          
	          <li>
	              <a href="{% url 'admindata:addbook' %}">Add Book</a>
	          </li>
	          <li>
              <a href="{%url 'admindata:change_password' %}">Change Password</a>
	          </li>
	          <li>
              <a href="{% url 'admindata:issuebook' %}">Issue Book</a>
	          </li>
              
	        </ul>

	       
	      </div>
    	</nav>

        <!-- Page Content  -->
      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" style="color:black;font-size:18px" href="{%url 'account:register'%}">Home</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link"style="color: black;font-size:18px">Hello,{{request.user}}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: black;font-size:18px" href="{% url 'account:logout' %}">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Issued Books</h5>
					<table class="table">
					<tr>
					<th><a class="btn btn-sm btn-info" href="{% url 'admindata:issuebook' %}">Issue New Book</a></th>
					</tr>
					</table>

				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Student</th>
							<th>Book Name</th>
							<th>Issued Date</th>
                            <th>Deadline</th>
							<th>Remaining Days</th>
							<th>Fine</th>
						</tr>

						{% for i in contexts %}
							<tr>
								<td>{{i.user}}</td>
								<td>{{i.book}}</td>
								<td>{{i.issused_date}}</td>
                                <td>{{i.deadline_expire}}</td>
								{% if i.date_diff < 0 %}
									<td style="color:red;">{{i.date_diff}}</td>
								{% else %}
									<td>{{i.date_diff}}</td>
								{% endif %}
								<td>{{i.fine}}</td>
                                <td><a class="btn btn-sm btn-info" href="{%url 'admindata:updateissue' i.id%}">Update</a></td>
						        <td><a class="btn btn-sm btn-danger" href="{%url 'admindata:deleteissue' i.id%}">Return</a></td>
							</tr>
						{% endfor %}
						
					</table>
				</div>
			</div>
			
		</div>
 <script src="{% static 'myapp/dashboard/js/jquery.min.js'%}"> </script>
    <script src="{% static 'myapp/dashboard/js/popper.js'%}"></script>
    <script src="{% static 'myapp/dashboard/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'myapp/dashboard/js/main.js'%}"> </script>
</html>