
<!doctype html>
<html lang="en">
{%load static%}
  <head>
  	<title>Library Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'myapp/dashboard/css/style.css' %}">
        <style>
        .hello-msg {
            font-size: 10px;
            color: black;
            margin-right: 20px;
        }
    </style>
  </head>
  <body>
		
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
              <h1><a href="" class="logo">LMS</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="">Profile</a>
          </li>
          <li>
              <a href="{% url 'user:student_viewbook' %}">View Books</a>
          </li>
          <li>
          <a href="{%url 'user:change_password'%}">Change Password</a>
          </li>
          <li>
          <a href="{% url 'user:viewissuebook' %}">Issued Book</a>
          </li>
        </ul>

       
      </div>
    </nav>

      <div id="content" class="p-4 p-md-5">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                  <li class="nav-item active">
                      <a class="nav-link" style="color:black;font-size:18px" href="{%url 'account:register'%}">Home</a>
                  </li>
                  <li class="nav-item">
                      <span class="nav-link"style="color: black;font-size:18px">Hello,{{request.user}}</span>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" style="color: black;font-size:18px" href="{% url 'account:logout' %}">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>


          <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
		<!-- form starts here -->
		<form id="change-password-form" method="POST" action="#">
            {% csrf_token %}
			<div class="agile-field-txt">
				<label>
					<i class="fa fa-user" aria-hidden="true"></i> old password </label>
				<input id="old_password" name="old_password" placeholder="Enter your old password" required=""
                                   type="text" class="form-control">
			</div>
			<div class="agile-field-txt">
				<label>
					<i class="fa fa-envelope" aria-hidden="true"></i> New Password </label>
					<input name="new_password1" type="password" class="form-control"
					   placeholder="Enter your new password " required="" id="new_password1">
			</div>
			<div class="agile-field-txt">
				<label>
					<i class="fa fa-envelope" aria-hidden="true"></i> New Password Confirmation </label>
					<input name="new_password2" type="password" class="form-control"
					   placeholder="Enter your new password " required="" id="new_password2">
			</div>
				{% if form.errors %}
                    {% for field in form %}
						{{field.name}}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
			<div class="w3ls-bot">
				<div class="form-end">
					<input type="submit" value="Submit">
				</div>
				<div class="clearfix"></div>
                <br/>

			</div>

		</form>
	</div>
    <script src="{%static 'myapp/js/jquery.min.js'%}"></script>
    <script src="{%static 'myapp/js/popper.js'%}"></script>
    <script src="{% static 'myapp/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'myapp/js/main.js'%}"></script>
  </body>
</html>