
<!DOCTYPE html>
<html lang="zxx">
{%load static%}
<head>
	<title> NCC Library</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords"
		content="Invent Signup Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->
	<!--/Style-CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<!--//Style-CSS -->
</head>

<body>
	<!-- /login-section -->
	<section class="w3l-login-6">
		<div class="login-hny">
			<div class="form-content">
				<div class="form-right">
					<div class="overlay">
						<div class="grid-info-form">
							<h5>Welcome </h5>
							<h3>CREATE ACCOUNT </h3>
							<p>Create your account to access various features. Develop your reading habit 
								and satisfy your thirst and curiosity for knowledge.  </p>
							<a href="{% url 'account:login' %}" class="read-more-1 btn">Get Started</a>
						</div>
					
					</div>
				</div>
				<div class="form-left">
					<div class="middle">
						<h4>Join Us</h4>
						<p>Create Your Account, It's Free.</p>
					</div>
					{% if error_message %}
					<div class="alert alert-danger">{{error_message}}</div>
					{% endif %}
					<form action="#" method="POST" class="signin-form">
						  {% csrf_token %}
						  {{form.errors}}
							<div class="form-input">
								<label>Username</label>
								<input type="text" name="username" placeholder="Username" required />
							</div>
							<div class="form-input">
								<label>Email</label>
								<input type="email" name="email" placeholder="name@example.com" required />
							</div>
							<div class="form-input">
								<label>Phone</label>
								<input type="number" name="phone" placeholder="Mobile Number" required />
							</div>
							<div class="form-input">
								<label>Address</label>
								<input type="text" name="address" placeholder="Address" required />
							</div>
							<div class="form-input">
								<label>Password</label>
								<input type="password" name="password" placeholder="Password" required />
							</div>
							
							<label class="container">I agree to <a href="#">Conditions</a> of Use and <a href="#">Privacy</a>
								<input type="checkbox">
								<span class="checkmark"></span>
							</label>
							<button type="submit" class="btn" value="Register Account">Create account</button>
					</form>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- //login-section -->
</body>

</html>